<mat-card class="card-item">
  <mat-card-header>
    <mat-card-title>{{player.name}}</mat-card-title>
    <mat-card-subtitle>{{player.position}}</mat-card-subtitle>
  </mat-card-header>
  <div class="card-item-image-container">
    <img mat-card-image
         src="{{playerImage}}"
         alt="{{player.name}}">
  </div>
  <mat-card-content>
    <p><b>Birth place:</b> {{player.birthplace ? player.birthplace : 'N/A'}}</p>
    <p><b>Signing amount:</b> {{player.signingAmount ? player.signingAmount : 'N/A'}}</p>
  </mat-card-content>
</mat-card>
