<div>
  <mat-form-field class="example-full-width">
    <input type="text" placeholder="Search for a league" aria-label="League" matInput [formControl]="search"
           [matAutocomplete]="auto">
    <mat-autocomplete #auto="matAutocomplete">
      <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
        {{option}}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
  <button (click)="searchHandler()" mat-raised-button>Search</button>
</div>

<div class="item-container">
  <mat-list>
    <div *ngIf="loading">
      <mat-spinner></mat-spinner>
    </div>
    <mat-list-item *ngFor="let team of teams">
      <img matListAvatar src="{{team.badge}}" alt="{{team.name}}">
      <h3 matLine> {{team.name}} </h3>
      <a matLine routerLink="/teams/{{team.id}}/players">See</a>
    </mat-list-item>
  </mat-list>
</div>




